<div class="session_form_container">
	<div class= "session_form_items">
		<% form_for(@user) do |f| %>
		<div class = "session_form_item">
			<%= f.label :display_name %>
			<% f.text_field :display_name %>
		</div>
		<div class = "session_form_item">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class = "session_form_item">
			<%= f.label :password_conformation %>
			<%= f.password_field :password_conformation %>>
		</div>
		<%= f.submit "ここボタン" %>
	<% end %>
	</div>
</div>
