
<body id="rooms">

  <div id="header"> 
    <div class="header_logo"> 
      <%= link_to "Project Quest",root_path%> 
    </div> 
  </div> 

  <div class="rooms_search">
  	<div class="rooms_search_container">
  		<%= image_tag 'search.svg',class:"rooms_search_icon" %>
  	</div>
  </div>

  <div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default hoge">
        <a class="list-group-item kadai" data-toggle="collapse" data-parent="#accordion" href="#collapse1">▷ 写真家のポートフォリオサイトを作ろう</a>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <div class="recruit" align="center"><a href="/new">募集をする</a></div>
              </div>
              <div class="col-xs-6">
                <div align="center" class="detail"><a href="/portfolio">詳細を見る</a></div>
              </div>
            </div>
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>場所</th>
                  <th class="text-center">エンジニア</th>
                  <th class="text-center">デザイナ</th>
                  
                </tr>
              </thead>
              <tbody>
		          <% @rooms.each do | room | %>
                <tr>
                  <td><%= room.location %></td>
                  <td align="center"><%= designer(room) %></td>
                  <td align="center"><%= engineer(room) %></td>
  		            
		            </tr>
	             <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- panel-collapse -->
      </div><!-- panel -->

      <div class="panel panel-default">
        <a class="list-group-item kadai" data-toggle="collapse" data-parent="#accordion" href="#collapse2">▷ 人気バンドのプロモーションサイトを作ろう</a>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <div class="recruit" align="center"><a href="/new">募集をする</a></div>
              </div>
              <div class="col-xs-6">
                <div align="center" class="detail"><a href="/promotion">詳細を見る</a></div>
              </div>
            </div>
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>場所</th>
                  <th class="text-center">エンジニア</th>
                  <th class="text-center">デザイナ</th>
                  
                </tr>
              </thead>
              <tbody>
              <% @rooms.each do | room | %>
                <tr>
                  <td><%= room.location %></td>
                  <td align="center"><%= designer(room) %></td>
                  <td align="center"><%= engineer(room) %></td>
                  
                </tr>
               <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- panel-collapse -->
      </div><!-- panel -->

      <div class="panel panel-default">
        <a class="list-group-item kadai" data-toggle="collapse" data-parent="#accordion" href="#collapse3">▷ チャットツールを作ろう</a>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <div class="recruit" align="center"><a href="/new">募集をする</a></div>
              </div>
              <div class="col-xs-6">
                <div align="center" class="detail"><a href="/chat">詳細を見る</a></div>
              </div>
            </div>
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>場所</th>
                  <th class="text-center">エンジニア</th>
                  <th class="text-center">デザイナ</th>
                  
                </tr>
              </thead>
              <tbody>
              <% @rooms.each do | room | %>
                <tr>
                  <td><%= room.location %></td>
                  <td align="center"><%= designer(room) %></td>
                  <td align="center"><%= engineer(room) %></td>
                  
                </tr>
               <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- panel-collapse -->
      </div><!-- panel -->
    </div><!-- panel-group -->
  </div>
<!--   <div id="consensus">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">本当に参加しますか？</h4>
      </div>
      <div class="modal-body">
        <%= button_to "参加", room_path(2), method: :get %>
        <button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
      </div>
  </div> -->
</body>
