<!DOCTYPE html>
<html>
	<head>
		<title>Project Quest</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>
        $(function() {
            $('#checkBtn').click(function(){
                if ( $("input[type=checkbox]:not(:checked)").size() != 0 ) {
                    alert("まだチェックされていません。頑張ってください");
                } else {
                	alert("おめでとうございます！！！お疲れ様でした！！");
                	location.href='/rooms';
                }
            });
        } );
        </script>

<!-- 		<div id="header"> 
      <div class="header_logo"> 
        <%= link_to "Project Quest",root_path%> 
      </div> 
    </div>  -->
	<%= yield %>
</html>
